@import '../../vars.css';

.spacer {
    padding-top: 9%;
}

.title1 {
    text-align: center;
}

.title2 {
    font-size: 3rem;
    text-align: center;
}

.projectsContainer p {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cardContainer{
    padding: 2.8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

@media (max-width: 830px) {
    .spacer{
        padding-top: 120px;
    }
}